<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
</head>

<body bgcolor="#ffffff" width="100%" style="margin: 0;">
    <div style="padding:38px 75px;">
        <p style="font-family: helvetica; font-size: 16px; color: #7b828b; line-height: 27px;">
            <span style="font-weight: bold;">Nom :</span> <%= name %><br>
            <span style="font-weight: bold;">Email :</span>  <%= email %><br><br>
            <br><br>
            <%- message %>
        </p>
    </div>
</body>

</html>