
/* BUTTONS
----------------------------------------------------------------------------------------------------*/

/* General
---------------------------------------------------------*/

.btn {
	display: inline-block;
	position: relative;
	padding: 0 3rem;

	text-align: center;
	font-size: 2rem;
	font-weight: 900;
	line-height: 2;

	cursor: pointer;
}



