
/* HEADER
----------------------------------------------------------------------------------------------------*/

/* General
---------------------------------------------------------*/

#header {
    width: 100%;
    padding-top: 10rem;
    background-color: $mine_shaft;
    text-align: center;

    @include maxw($tablet) {
        padding-top: 5rem;
    }

    @include maxw($mobile) {
        padding-top: 3rem;
    }
}




/* Logo
---------------------------------------------------------*/

.header__logo {
    position: relative;
    max-width: 100%;
    margin-bottom: 8rem;
    padding-top: 17rem;
    padding-bottom: 20rem;

    img {
        position: relative;
        z-index: 10;
        display: inline-block;
        max-width: 100%;
    }

    &::after {
        content: '';
        @include position(absolute, null 0 -5vw null);
        z-index: -1;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 100vw 5vw 0;
        border-color: transparent $mine_shaft transparent transparent;
    }

    .header__logo__mobile{
        display: none;
    }

    @include maxw($mobile) {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .header__logo__desktop {
            display: none;
        }

        .header__logo__mobile {
            display: block;
        }
    }
}

.header__logo__wrapper {
    position: relative;
    display: inline-block;
    max-width: 80%;

    @include maxw($mobile) {
        max-width: 100%;
    }
}

.header__decos {
    @include position(absolute, 0);
    z-index: 1;

    &__10 {
        @include ratio(100%, '.icon');
        @include position(absolute, -35% null null -7%);
        width: 4.4%;
        transform: rotate(0deg);
    }

    

    &__1 {
        @include ratio(100%, '.icon');
        @include position(absolute, -41% 56% null null);
        width: 4%;
        transform: rotate(5deg);
    }

    &__2 {
        @include ratio(100%, '.icon');
        @include position(absolute, -40% 6% null null);
        width: 6%;
        transform: rotate(236deg);
    }

    &__3 {
        @include ratio(100%, '.icon');
        @include position(absolute, -2% -8% null null);
        width: 5.5%;
        transform: rotate(3deg);
    }

    &__4 {
        @include ratio(100%, '.icon');
        @include position(absolute, null null -25% 12%);
        width: 5%;
        transform: rotate(4deg);
    }

    &__5 {
        @include ratio(100%, '.icon');
        @include position(absolute, null null 0 33%);
        width: 3%;
        transform: rotate(-5deg);
    }

    &__6 {
        @include ratio(100%, '.icon');
        @include position(absolute, 0 52% null null);
        width: 4.5%;
        transform: rotate(-10deg);
    }

    &__7 {
        @include ratio(100%, '.icon');
        @include position(absolute, 50% null null -15%);
        width: 4%;
        transform: rotate(0deg);
    }

    &__8 {
        @include ratio(100%, '.icon');
        @include position(absolute, null -17% -5% null);
        width: 6.5%;
        transform: rotate(-5deg);
    }

    &__9 {
        @include ratio(100%, '.icon');
        @include position(absolute, -47% 38% null null);
        width: 4%;
        transform: rotate(-5deg);
    }

    &__11 {
        @include ratio(100%, '.icon');
        @include position(absolute, null 57% -34% null);
        width: 3.2%;
        transform: rotate(-8deg);
    }

    &__12 {
        @include ratio(100%, '.icon');
        @include position(absolute, 18% null null -8%);
        width: 3.5%;
        transform: rotate(6deg);
    }

    &__13 {
        @include ratio(100%, '.icon');
        @include position(absolute, -10% 27% null null);
        width: 4.8%;
        transform: rotate(-9deg);
    }

    &__14 {
        @include ratio(100%, '.icon');
        @include position(absolute, -63% 23% null null);
        width: 3.5%;
        transform: rotate(-10deg);
    }

    &__15 {
        @include ratio(100%, '.icon');
        @include position(absolute, -25% null null 25%);
        width: 2.6%;
        transform: rotate(-10deg);
    }

    &__16 {
        @include ratio(100%, '.icon');
        @include position(absolute, null 14% -30% null);
        width: 4.8%;
        transform: rotate(-2deg);
    }

    &__17 {
        @include ratio(100%, '.icon');
        @include position(absolute, null 37% -18% null);
        width: 5%;
        transform: rotate(-12deg);
    }

    .decos__round {
        &--header1 {
            @include position(absolute, -4% null null -13%);
            width: 0.9rem;
            height: 0.9rem;
        }

        &--header2 {
            @include position(absolute, -21% null null 52%);
            width: 1.2rem;
            height: 1.2rem;
        }

        &--header3 {
            @include position(absolute, -28% -4% null null);
            width: 1.6rem;
            height: 1.6rem;
        }

        &--header4 {
            @include position(absolute, 45% -9% null null);
            width: 1.4rem;
            height: 1.4rem;
        }

        &--header5 {
            @include position(absolute, null 24% 7% null);
            width: 1.5rem;
            height: 1.5rem;
        }

        &--header6 {
            @include position(absolute, null null -8% 26%);
            width: 1rem;
            height: 1rem;
        }
    }

    .decos__cross {
        &--header1 {
            @include position(absolute, -47% null null 17%);
            width: 1.8rem;
            height: 1.8rem;
            transform: rotate(18deg);
        }

        &--header2 {
            @include position(absolute, null null -3% -6%);
            width: 1.8rem;
            height: 1.8rem;
            transform: rotate(-23deg);
        }

        &--header3 {
            @include position(absolute, null 33% -56% null);
            width: 2rem;
            height: 2rem;
            transform: rotate(23deg);
        }

        &--header4 {
            @include position(absolute, null 0% -32% null);
            width: 1.5rem;
            height: 1.5rem;
            transform: rotate(-20deg);
        }
    }

    @include maxw($mobile) {
        display: none;
    }
}

.decors__arrow {
    @include ratio(380%, '.icon');
    @include position(absolute, null 50% -21rem null);
    width: 2rem;
    transform: translateX(-50%);

    @include maxw($mobile) {
        bottom: -4rem;
        width: 1rem;
    }
}




/* Navigation
---------------------------------------------------------*/

.header__nav {
    margin-bottom: 6rem;

    @include maxw($tablet) {
        margin-bottom: 0;
    }
}

.header__nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header__nav__item {
    position: relative;
    display: inline-block;
    margin: 0 1.5rem;

    a {
        font-family: $BlueHightway;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: .25rem;
        text-transform: uppercase;
        color: $white;

        @include maxw($tablet) {
            font-size: 2rem;
        }

        @include maxw($mobile) {
            font-size: 1.6rem;
        }
    }

    &--active {
        a { color: $sunset_orange; }

        &::after {
            content:'';
            @include position(absolute, null -1rem -1rem -1rem);
            height: 3px;
            background-color: $sunset_orange;
        }
    }

    @include maxw($mobile) {
        margin-top: 1rem;

        &--active {
            &::after {
                @include position(absolute, null -0.5rem 0 -0.5rem);
            }
        }
    }
}



