
/* SASS VARIABLES
----------------------------------------------------------------------------------------------------*/

/* Fonts
---------------------------------------------------------*/

$BlueHightway: 'BlueHightway', $verdana, sans-serif;
$BlueHightwayCondensed: 'BlueHightwayCondensed', $BlueHightway;





/* Colors
---------------------------------------------------------*/

$persian_red:   #c5362f;
$mandy:         #e9524f;
$sunset_orange: #f94b4b;
$alto:          #e0dfdf;
$silver:        #cdcdcd;
$mine_shaft:    #262626;
$mine_shaft_2:  #343434;
$white:         #ffffff;
$black:         #000000;
$concrete:      #f2f2f2;





/* Breakpoints
---------------------------------------------------------*/

$xx-wide: 	   2100px;
$x-wide: 	   1921px;
$wide: 		   1681px;
$normal:	   1441px;
$small:        1350px;
$x-small:      1200px;
$tabletL:      1180px;
$tablet:       1023px;
$tabletP:       960px;
$mobile:        720px;
$x-mobile:      600px;
